/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "base/base";

@import "layout/sidebar";
@import "layout/page";

@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/flash";

@import "pages/login";
@import "pages/dashboard";
@import "pages/calendar";
@import "pages/leetcode";
@import "pages/statistics";
@import "pages/lobbies";
